<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Productos</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1>Lista de Productos</h1>
    <table>
        <tr>
            <th>Código de Producto</th>
            <th>Nombre de Producto</th>
            <th>Cantidad</th>
            <th>Ubicación</th>
        </tr>
        {% for producto in productos %}
        <tr>
            <td>{{ producto.codigo_producto }}</td>
            <td>{{ producto.nombre_producto }}</td>
            <td>{{ producto.cantidad }}</td>
            <td>{{ producto.ubicacion }}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>
